{
	"mdaserver_base_path":"/home/magland/sorting_results",
	"mbserver_base_path":"/home/magland/sorting_results",
	"num_cores":8,
	"memory_gb":8,
	"server_urls":["http://localhost:8020"],
	"mlhub_host":"",
	"mlhub_forwarded_port":0,
	"mlhub_user":"",

	"processor_paths":["../mountainprocess/processors"],
	"mlproxy_listen_port":8020,
	"mdaserver_listen_port":8000,
	"mdachunk_data_path":"../tmp/mdachunk_data",
	"mdachunk_exe":"mdachunk/bin/mdachunk",
	"mscmdserver_listen_port":8001,
	"mbserver_listen_port":8002,
	"mpserver_listen_port":8004,
	"mpserver_tmp_path":"../tmp/mpserver_tmp",
	"mpserver_html_path":"../html",
	"mountainprocess_exe":"../mountainprocess/bin/mountainprocess"
}
